<!-- Footer-->
<footer class="py-5 bg-dark" id="footer">
  <div class="container px-4 px-lg-5">
    <p class="m-0 text-center text-white">Copyright &copy; GradeBook 2022</p>
  </div>
</footer>

</body>

</html>