<%- include("partials/header") -%>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">



    <!-- Bootstrap core CSS -->
    <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">

    <body>
        <div style="height: 100px;"></div>

        <body>
            <!-- Responsive navbar-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand" ><img src="/images/book.png" height="50" alt="Page Logo" />GradeBook</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                            class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link active" href="/about">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                        </ul>
                    </div>
                </div>
            </nav>




            <div class="container px-4 px-lg-5 ">
                <!-- Heading Row-->
                <div class="row gx-4 gx-lg-5 align-items-center my-5">

                    <div class="col-lg-5">
                        <h1 class="font-weight-light">GradeBook</h1>
                        <p>GradeBook is a website designed to meet all of your grading needs! Students can access and view all of thier grades in one, user-freindly spot. Teachers can easily adjust and manage all the grades of their students in one convient
                            place.
                        </p>
                        <a class="btn btn-primary" href="/logIn">Get Started</a>

                    </div>
                    <div class="col-lg-7">
                        <img src="/images/grades.png" alt="Page Logo" />
                    </div>
                </div>

            </div>
            <!-- <hr style="height:2px;border-width:0;color:gray;background-color:gray"> -->



<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<div class="container">
    <div class="row">
        <div class="section-heading text-center ">
                <h2>Languages and Tools used in the making of this website</h2>
            </div>
        <div class="col">
            
            <ul class="list-unstyled text-medium text-center">
                <li>
                    <h4 class="text-center toolHeader" href="">HTML</h4>
                </li>

                <li>
                    <h4 class="text-center toolHeader" href="">JavaScript</h4>
                </li>

                <li>
                    <h4 class="text-center toolHeader" href="">Express</h4>
                </li>

                <li>
                    <h4 class="text-center toolHeader" href="">Mongoose</h4>
                </li>

            </ul>
        </div>
        <div class="col">
            <ul class="list-unstyled text-medium text-center">
                <li>
                    <h4 class="text-center toolHeader" href="">CSS</h4>
                </li>

                <li>
                    <h4 class="text-center toolHeader" href="">Node.js</h4>
                </li>

                <li>
                    <h4 class="text-center toolHeader" href="">EJS</h4>
                </li>

                <li>
                    <h4 class="text-center toolHeader" href="">Passport</h4>
                </li>

            </ul>
        </div>
    </div>
</div>
<br class="break">


            <%- include("partials/footer") -%>